{% extends 'base.html' %}
{% load static %}

{% block title  %}
Add Member
{% endblock %}


{% block content %}

<div class="container-fluid pt-4 px-4">
    <h4 class="text-center"><strong>Add Principal Member</strong></h4>
    <br>
    <form action="{% url 'add-member' %}" method="post">
    {% csrf_token %}
    {% include 'partials/_messages.html' %}
    <div class="bg-light row g-4">
        <div class="col-sm-12 col-md-6 col-xl-6">
        <div class="row g-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter Full name(s)" name="name" required />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter Surname" name="surname" required />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter email" name="email" />
         </div>
         <div class="col">
            <input type="text" class="form-control" placeholder="Enter Identity Number" name="idnum" required />
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col">
            <input type="text" class="form-control" placeholder="Enter Contacts" name="contacts" required />
         </div>
         <div class="col">
            <select class="form-select" id="gender" name="gender" required="required">
               <option>GENDER</option>
               <option>FEMALE</option>
               <option>MALE</option>
                <option>OTHER</option>
            </select>
         </div>
         <div class="col">
            <select class="form-select" id="marital" name="marital" required="required">
               <option>MARITAL STATUS</option>
               <option>MARRIED</option>
               <option>SINGLE</option>
            </select>
            </div>
         </div>
            <br>
            <div class="row">
            <div class="col">
                <label for="birthday">Date of Birth</label>
                <input type="date" class="form-control" id="birthday" name="birthday" required/>
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6">
        <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter Address" name="address" required />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Enter City" name="city" required/>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col">
            <select class="form-select" name="province" required="required">
               <option>Gauteng</option>
               <option>Limpopo</option>
               <option>Northern Cape</option>
                <option>Western Cape</option>
                <option>Eastern Cape</option>
                <option>Mpumalanga</option>
                <option>North West</option>
                <option>Free State</option>
                <option>Kwa-Zulu Natal</option>
            </select>
         </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Enter Postal Code" name="zipcode" required />
         </div>
         </div>
            <br>
            <div class="row">
                <div class="col">
                <label for="plan1">Cover Option:</label>
                <select class="form-select" id="plan1" name="plan">
                    {% for option in options %}
                    <option>{{option.name}}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary py-3 w-100 mb-4">Add</button>
    </div>
       </form>
</div>



{% endblock %}